@model PT_SmartBit.Modelos.TipoGasto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Tipo de Gasto";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if(Model.Id != 0)
        {
            //Actualizar
            titulo = "Actualizar Tipo de Gasto";
            <input type="hidden" asp-for="Id" />
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Codigo</label>
                <input type="text" asp-for="Codigo" class="form-control" placeholder="Codigo del Tipo de Gasto" readonly/>
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre del Tipo de Gasto" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripcion</label>
                <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripción del Tipo de Gasto" />
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Estado</label>
                <select asp-for="Activo" class="form-select">
                    <option value=true>Activo</option>
                    <option value=false>Inactivo</option>
                </select>
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div>
            @if(Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
        </div>

    </div>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}




