@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Al iniciar sesión con el usuario indicado podrá realizar el control de gastos para este mismo.</p>
</div>
