
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <h2>Consulta de movimeintos.</h2>
            <p>En esta sección podrá realizar una consulta de todos los movimientos (Depositos y Gastos) para este usuario.</p>
        </div>
        <div style="padding-left:15%; padding-right:15%; padding-bottom:0.4rem;">
            <div class="row mb-2">
                <div class="form-group col-md-6">
                    <label>Seleccione la fecha inicial para filtrar los movimientos.</label>
                    <input type="date" class="form-control" placeholder="Fecha para filtrar" name="fechaInicial" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col-md-6">
                    <label>Seleccione la fecha final para filtrar los movimientos.</label>
                    <input type="date" class="form-control" placeholder="Fecha para filtrar" name="fechaFinal" />
                </div>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-success"> Consultar</button>
            </div>
        </div>
    </div>

    
</form>

