@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro.";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Registro con exito!
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

